.Card-container{
  display:flex;
  padding:1em;
  gap:1em;
  flex-wrap: wrap;
  justify-content:center;
  margin-top:1.4em
}

.Card-container-loading{
  display:flex;
  justify-content:center;
  align-items:center;
  height:80vh;
  padding:.5em;
  gap:1em;
}
  

