.Card-logo {
    filter: invert(100%);
    height: 40vmin;
    pointer-events: none;
  }
  

.Card-logo {
      animation: App-logo-spin infinite 20s linear;
  }

  
  .Card {
    background:#121212;
    border:2px solid black;
    border-radius:16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-width:300px;
    padding:.5em
  }
  
  .Card-link {
    color: black;
    padding:1em;
    background-color:rgb(224,255,0);
    border:none;
    align-items:center
  }

  .Card-text{
    color:#e0ff00;
    font-weight:600;
    text-transform:uppercase
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
